body {
    background-color: lightcyan;
}
h1{
    font-size: xxx-large;
    background-color: cadetblue;
    font-family: cursive;
}
.socialsList{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(59, 51, 51);
}
p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
}